.hero {
  padding: 2rem 2.3125rem;
  background: var(--background-secondary);
  font-weight: var(--font-weight-medium);
  border: 0;
  border-bottom: 1px solid #dfdfdf;
}

.avatar {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .flex {
    display: flex;
    align-items: center;
  }

  .avatar {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}