.header {
  color: white;
  background-image: url(../../assets/images/png/header-background.png),
    linear-gradient(314.72deg, #c86dd7 -1.5%, #7e49c3 39.43%, #5912ac 86.02%);

  background-size: cover;
  background-position: center top;
  border-radius: 0;
}

.header-link {
  color: white;
  text-decoration: underline;
}

.header h1,
.header p {
  color: white;
}

.header h1 {
  margin-bottom: 1.5rem;
}

.header p {
  font-size: 1.125rem;
}
