.footer {
  background: var(--background-secondary);
}

.footer-main {
  margin: 2.5rem 0;
}

.footer-button {
  color: var(--background-secondary);
  background: var(--brand-secondary);
}

.footer-link {
  color: var(--body-color);
  text-decoration: none;
}

.copyright {
  color: var(--heading-color);
  font-size: 0.75rem;
}

footer .divider {
  border: 1px solid var(--divider-color);
}

@media screen and (min-width: 768px) {
  .footer-main {
    margin: 5rem 0;
  }
}
