@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --brand-primary: #00c88c;
  --brand-secondary: #5e20a4;
  --text-color-primary: #4a4a4a;
  --text-color-secondary: #3d3d3d;
  --background-primary: #faf9f7;
  --background-secondary: #ffffff;
  --divider-color: #dfdfdf;
  --hover-color-primary: #05a877;
  --hover-color-secondary: #802ddf;
  --font-family: 'Inter', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
}

main {
  background: var(--background-primary);
}

p,
a {
  font-weight: var(--font-weight-regular);
  color: var(--text-color-primary);
}

p {
  line-height: 1.75rem;
}

a {
  color: var(--brand-secondary);
  text-decoration: underline;
  font-size: 1rem;
  line-height: 1.5rem;
}

img {
  max-width: 100%;
}

.display-1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

.display-2 {
  font-size: 1.75rem;
  line-height: 2rem;
}

.display-3 {
  font-size: 1.375rem;
  line-height: 2rem;
}

.display-4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-weight: var(--font-weight-medium);
  color: var(--text-color-secondary);
}

.btn {
  font-size: 0.875rem;
  padding: 0.75rem 1.3125rem;
}

.btn-primary {
  color: white;
  background: var(--brand-primary);
  border: none;
  border-radius: 4px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--hover-color-primary);
}

.btn-primary:active {
  background-color: #013d2b;
}

.btn-secondary {
  color: var(--background-secondary);
  background: var(--brand-secondary);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--hover-color-secondary);
}

.btn-secondary:active {
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.divider {
  border: 2px solid var(--divider-color);
  margin: 0 1rem;
}

@media screen and (min-width: 992px) {
  .divider {
    margin: 0 20%;
  }
}
